body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 80%;
    max-width: 40em;
    margin: 0;
    color: #3f3a27;
    padding: 0.9em;
}

label, input[type=text], select {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
    margin-bottom: 0.0em;    
}

label {
    width: 30%;
    text-align: right;
    margin: 0 10% 0 0;
}

label:after {
    content: ': ';
}

input[type=text] {
    width: 40%;
    margin: 8 8 8 8;
}

select {
    width: 20%;
}


fieldset {
    margin: 8 8 8 8;
    padding: 0.9em;
}