@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size:35px;
  margin-bottom: 20px;
 /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  letter-spacing: 5px;
  color:  #000000;
  border-color: #fff;
  padding: 0.2em;
  #display: inline-block;
  #border: 1px solid black;
  background-color: #fff;
  background-position: center center;
  opacity: 0.85;
}
.answers {
  font-size:30px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: left;
  display: inline-block;
  outline: none;
  background-color: #f8f6f0;
  opacity: 0.85;
  letter-spacing: 1px;
  color:  #000000;
}
.answers label{
  display: block;
  margin-bottom: 20px;
  margin-bottom: 20px;
}
.tulokset {
  font-size:25px;
  margin-bottom: 25px;
  padding: 20px;
  text-align: left;
  display: inline-block;
  outline: none;
  background-color: #f8f6f0;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 40px;
	background-color: rgb(157, 96, 153);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color:  rgb(108, 64, 105);
}
a.abutton{
  font-family: 'Work Sans', sans-serif;
	font-size: 40px;
	background-color: rgb(186, 105, 43);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
  text-decoration: none;
}

input[type=radio] {
  width: 27px;
  height: 27px;
  margin: 10;
  font: inherit;

  border: 0.em solid currentColor;
  border-radius: 50%;
  accent-color:  rgb(157, 96, 153);
}
input[type=radio]:checked {
   background-color: rgb(157, 96, 153);
   box-shadow: 0px 0px 0px 0px rgb(157, 96, 153); inset;
}
.slide{
 position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 400px;
  margin-top: 20px;
}
/*
a {
  font-size: 45px;
  text-decoration: none;
  font-weight:800;
  color:  rgb(157, 96, 153);
  /*text-decoration: underline;*/
/*
  color:  #252525;
  border-color: #fff;
 # padding: 0.5em;
  #display: inline-block;
  #border: 1px solid black;
  background-color: #fff;
  background-position: center center;
  opacity: 0.7;
}
*/

a:hover {
   color: rgb(108, 64, 105);
}
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
#background {
  width: 100%;
  height: 100%;
   /*
 background: url("pics/lockinen.jpg");no-repeat center center fixed;
  #background-color: rgba(111, 111, 111, 0.6);
  */
  background-blend-mode: lighten;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: myfirst 3s ; /* Chrome, Safari, Opera */
  animation: myfirst s ;
  opacity: 0.9;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {opacity: 0;}
  to {opacity: 0.7;}
}
/* Standard syntax */
@keyframes myfirst {
  from {opacity: 0;}
  to {opacity: 0.9;}
}
