@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 45px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 20px;
  padding: 15px;
  font-size: 50px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 65px;
  margin-bottom: 40px;
}
.answers {
  margin-bottom: 30px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 15px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	background-color: rgb(175, 109, 171);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
	background-color: rgb(166, 73, 160);
}

input[type=radio] {
  width: 17px;
  height: 17px;
  border: 2px solid #e6e5e5;
}

input[type=radio]:checked {
   background-color:rgb(166, 73, 160);  
   box-shadow: 0px 0px 0px 3px #fdfbfb inset;
}
.slide{
 position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 500px;
  margin-top: 40px;
}
